body{
    background-color: #F5F5F5;
}

*{
    font-family: roboto, sans-serif;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px;
}

ul,a{
    list-style: none;
    text-decoration: none;
}

.center{
    width: 1200px+30px;
    text-align: center;
}

.logoBlue{
    color: #2196F3;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logoBlack{
    color: #000000;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

h1,h2,h3,h4,h5,h6{
    color: #212121
}

.hero_title{
    color: #ffffff;
    font-size: 44px;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
}
.nav_el{
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
}
.nav_el:hover,
.nav_el:focus{
    color: #2196F3;
}

* .active{
    color: #2196F3;
  }

.footer-address__container>.el{
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    cursor: pointer
}

.header_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.header_link:hover,
.header_link:focus,
.footer_link:hover,
.footer_link:focus{
    color: #2196F3;
}

.header-address__container>.el{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.email{
    margin-left: 320px;
    padding-right: 50px;
}

.header-address__container{
    display: flex;
}

.header{
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
}

.navigation_container{
    display: flex;
}

.nav_el + .nav_el{
    margin-left: 50px;
}

.hero_section{
    background-color: #2F303A;
    padding: 200px 0px;
    display: flex;
    justify-content: center;
}

.hero_container{
    text-align: center;
    margin: 0px 15px;
}


.footer_link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.remark_main{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

         

.remark_txt{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
}

.ul_remark{
    display: flex;
    justify-content: space-between;
}

.work_title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.team_container{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.ul_card{
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.team_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.team_name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team_profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}

.button_main{
    cursor: pointer;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:  none;
}

.remark_container{
    width: 1200px;
    height: 98px;
    margin: 0 auto;
    margin-bottom: 94px;
    margin-top: 94px;
}

.remark{
    height: 98px;
    width: 270px;
    display: inline-block;
}

.work_container{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 94px;
}

.ul_work{
    display: flex;
}

.ul_work .el + .el{
    margin-left: 50px;
}

.filter{
    width: 1200px;
    margin: 0 auto;
    margin-top: 78px;
}

.button_filter{
    padding: 6px 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.button_filter:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
.main_txt_img{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
}

.card{
    background: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    height: 368px;
    width: 270px;
}

.card_txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.white_color{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.container_footer{
    width: 1200px;
    margin: 0 auto;
}

.card_filter{
    border: 1px solid #EEEEEE;
    height: 404px;
    width: 370px;
    margin-right: 27px;
    margin-bottom: 30px;
}
.container_img{
    width: 1200px;
    margin: 0 auto;
    margin-top: 34px;
}

.ul_filter{
    display: flex;
    justify-content: center;
}

.el_button{
    margin-right: 8px;
}

.container_card{
    display: flex;
    flex-wrap: wrap;
}

