*{
    font-family: roboto, sans-serif;
    color: #757575;
    background-color: #F5F5F5;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
ul,a{
    list-style: none;
    text-decoration: none;
}

.logoBlue{
    color: #2196F3;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logoBlack{
    color: #000000;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

h1,h2,h3,h4,h5,h6{
    color: #212121
}

.hero_title{
    color: #ffffff;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
}

.nav_el_Studio, .nav_el_Portfolio, .nav_el_Tsontacts{
    color: #212121;
}

* .active{
    color: #2196F3;
  }

.footer-address__container>.el{
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    cursor: pointer
}

.header_link:hover,
.header_link:focus,
.footer_link:hover,
.footer_link:focus{
    color: #2196F3;
}

.remark_main{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.remark_txt{
    color: #757575;
}

.work_title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.team_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}

.team_name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}

.team_profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.button_main{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button_filter{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
}
.main_txt_img{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.card_txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.white_color{
    color: rgba(255, 255, 255, 0.6);
}